{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Mobile Recharge</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body class="bg-light" style="background-image:url('../../static/home/image/TODO.jpg');">
	<br/>
	<h4 style="text-align: center;">
	{% if warning %}
	{{warning}}
	{% endif %}	
</h4>
<h1 style="text-align: center;">Mobile Recharge</h1>
<form method="POST" action="{% url 'mobileindex' %}" enctype="multipart/form-data"  style="text-align: center;">
{% csrf_token %}
<br/>
Enter Your Mobile Number:
<input type="text" name="mobilenumber">
<br><br/>
Recharge Type:
<select name="type">
	<option>Postpaid</option>
	<option>Prepaid</option>
</select>
<br/><br/>
Select Operator:
<select name="operator">
	<option>Airtel</option>
	<option>Vodafone</option>
	<option>Jio</option>
	<option>Idea</option>
	<option>BSNL</option>
	<option>uninor</option>
	</select>
<br/><br/>
Select Circle:
<select name="circle">
<option>Andhra Pradesh</option>
<option>Assam</option>
<option>Bihar</option>
<option>Haryana</option>
<option>Delhi</option>
<option>Gujarat</option>
<option>Uttar Pradesh</option>
<option>Himachal Pradesh</option>	
<option>Karnataka</option>	
<option>Madhya Pradesh</option>	
<option>Mumbai</option>
<option>Chennai</option>
<option>Tamil Nadu</option>	
</select>
<br/><br/>
Recharge Amount(₹):
<input type="text" name="amount">
<br/><br/>
<input type="submit" value="Proceed" class="btn btn-primary">
</form>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>