{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>History</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body >
<style>
 body { font: 20px Helvetica, sans-serif; color: #333; }

</style>

<h1 style="text-align: center;padding-top: 32px;">History</h1>
	<i><form style="text-align: center; font-size: 30px;">
	<!-- FOR MOBILE --><br><br>
	<h3>RELATED TO MOBILE</h3>
	{% if mobile %}
	{% for m in mobile %}
	{{m}}
	<br/><br/>
	{% endfor %}
	{% else %}
	<h3>No match Found!!!!</h3>
	{% endif %}
	</form></i>

	<!--FOR DTH -->
	<i><form style="text-align: center; font-size: 30px;">
	<h3>RELATED TO DTH</h3>
	{% if dth %}
	{% for d in dth %}
	{{d}}
	<br/><br/>
	{% endfor %}
	{% else %}
	<h3>No match Found!!!!</h3>
	{% endif %}
	</form></i>

	<!-- FOR DATACARD -->
	<i><form style="text-align: center; font-size: 30px;">
	<h3>RELATED TO DATACARD</h3>
	{% if datacard %}
	{% for dc in datacard %}
	{{dc}}
	<br/><br/>
	{% endfor %}
	{% else %}
	<h3>No match Found!!!!</h3>
	{% endif %}
	</form></i>


	<!-- FOR METRO -->
	<i><form style="text-align: center; font-size: 30px;">
	<h3>RELATED TO METRO</h3>
	{% if metro %}
	{% for mt in metro %}
	{{mt}}
	<br/><br/>
	{% endfor %}
	{% else %}
	<h3>No match Found!!!!</h3>
	{% endif %}
	</form></i>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>