.col-4{
margin-left: 350px;
	font-size: 20px;

}

.col-3{
	margin-left: 400px;
	font-size: 20px;
}

.col-2{
margin-left: 400px;
font-size: 20px;
}

.col-1{
	font-size: 20px;
}

#options{
	margin-left: 400px;
	font-size: 15px;
}