  {% load static %}
  <!DOCTYPE html>
  <html>
  <head>
  <title>Signup Here</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="{% static 'register/image/favicon.ico' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="../../static/register/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/animate.css' %}"/>
  <link rel="stylesheet" type="text/css" href="../../static/register/css/animate.css">
  
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/hamburgers.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="../../static/register/css/hamburgers.min.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/animsition.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="../../static/register/css/animsition.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="../../static/register/css/select2.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/main.css' %}"/>
  <link rel="stylesheet" type="text/css" href="../../static/register/css/main.css">
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/util.css' %}"/>
  <link rel="stylesheet" type="text/css" href="../../static/register/css/util.css">  
<!--===============================================================================================-->
</head>
  <body style="background-color: #999999;">

  {% if error %}
  {{ error }}
  {% endif %}
  {% if warning %}
  {{ warning }}
  {% endif %}
  <form method="POST" class="form" action="{% url 'registerindex' %}">
   {% csrf_token %}


   <div class="limiter">
    <div class="container-login100">
      <div class="login100-more" style="background-image: url('../../static/register/image/bag.jpg');"></div>


          <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-59">
            Sign Up Here
          </span>
          <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Full Name</span>
            <input class="input100" type="text" name="name" placeholder="Name...">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <span class="label-input100">Email</span>
            <input class="input100" type="text" name="email" placeholder="Email addess...">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Username is required">
            <span class="label-input100">Username</span>
            <input class="input100" type="text" name="username" placeholder="Username...">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Password is required">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" name="pass" placeholder="*************">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
            <span class="label-input100">Repeat Password</span>
            <input class="input100" type="password" name="repeat-pass" placeholder="*************">
            <span class="focus-input100"></span>
          </div>

          <div class="flex-m w-full p-b-33">
            <div class="contact100-form-checkbox">
              <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
              <label class="label-checkbox100" for="ckb1">
                <span class="txt1">
                  I agree to the
                  <a href="#" class="txt2 hov1">
                    Terms of User
                  </a>
                </span>
              </label>
            </div>

            
          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                <input type="submit" value="Sign Up!" class="btn">
              </button>
            </div>

            <a href="#" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
              <button><a href="{% url 'loginindex' %}">Sign in </a></button>
              <i class="fa fa-long-arrow-right m-l-5"></i>
            </a>
          </div>


        </form>
      </div>
    </form>
    </div>
  </div>  
<!--===============================================================================================-->
  <script src="../../static/register/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="../../static/register/js/animsition.min.js"></script>
<!--===============================================================================================-->
  <script src="../../static/register/js/popper.js"></script>
  <script src="../../static/register/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
  <script src="../../static/register/js/select2.min.js"></script>
<!--===============================================================================================-->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
  </html>